.bg1 {
    background-color: #1abc9c; /*Green*/
    font-family: 'Poppins', sans-serif;
    color: white;
}
.col-left {
    display: inline-block;
    padding-top:100px;
}
.col-right {
    display: inline-block;
}
h1 {
    font-size:60px;
}
h2 {
    font-size:40px;
}
h3 {
    font-size:40px;
}
.btn-lg {
    font-size:30px;
}
