<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body class="bg1">
<hr style="height:150px; border:none; color:rgba(255, 255, 255, 0); background-color:rgba(255, 255, 255, 0); width:100%; text-align:center; margin: 0 auto;">
<div class="container-fluid text-center" id="content">
  <h1>WELCOME</h1>
  <h3>BANK BALANCE:</h3>
    <h2>$1000</h2>
  <h3>STOCKS VALUE:</h3>
    <h2>$100</h2>
  <div class="col-left">
    <a href="/stocks" class="btn btn-info btn-lg" role="button">Stocks</a>
  </div>
  <div class="col-right">
    <a href="/portfolio" class="btn btn-info btn-lg" role="button">Current Holdings</a>
  </div>
</div>
</body>
</html>