<!DOCTYPE html>
<html lang="en">
<head>
  <title>Purchase</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='purchase.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body class="bg1">
<hr style="height:50px; border:none; color:rgba(255, 255, 255, 0); background-color:rgba(255, 255, 255, 0); width:100%; text-align:center; margin: 0 auto;">
<div class="container-fluid text-center">

    <div class="top">
        <h1>BUYING SCREEN</h1>
        <form method="POST" value="/data">
        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;" name="value">
        <span class="label">AMOUNT YOU WANT TO BUY</span>
        <span class="border"></span>
        </label>
        </form>
    <div>
    <div class="btm-left">
        <h4>Stop Loss Percentage - 50%</h4>
        <h5>-$10</h5>
    </div>
    <div class="btm-right">
        <h4>Stop Gain Percentage - 200%</h4>
        <h5>+$40</h5>
    </div>
    <div class="spacer">
    </div>
    <div class="btm-btm-right">
        <a href="/portfolio" class="btn btn-success btn-lg" role="button">Submit</a>
    </div>
</div>
</body>
</html>